Package: onionmail-wizard
Version: 1.6.5-1
Architecture: all
Maintainer: OnionMail Project <gestione@onionmail.info>
Installed-Size: 112
Depends: tor, torsocks, claws-mail, python (>= 2.7.3-4)
Section: mail
Priority: optional
Homepage: http://onionmail.info/
Description: Configure an OnionMail account.
 OnionMail wizard configure easily an OnionMail account in Claws-Mail.
 This wizard get the list of OnionMail server and create a new mail address
 into the TOR network (Anonymous and encrypted).
