[Desktop Entry]
Version=1.0
Name=Tofified Claws Mail
GenericName=TOR E-mail client
Exec=torify /usr/bin/claws-mail
Icon=claws-mail
Categories=GTK;Network;Email;
Comment=Claws-Mail for your OnionMail
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/mailto;
X-Info=Claws Mail
