Source: onionmail-wizard
Section: mail
Priority: optional
Maintainer: OnionMail Project <gestione@onionmail.info>
Uploaders: OnionMail Project <gestione@onionmail.info>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://onionmail.info/

Package: onionmail-wizard
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, tor, torsocks, claws-mail, python (>=2.7.3-4)
Description: Configure an OnionMail account.
 OnionMail wizard configure easily an OnionMail account in Claws-Mail.
 This wizard get the list of OnionMail server and create a new mail address
 into the TOR network (Anonymous and encrypted).
